/* Global */
html {position:relative; min-height:100%}
body {background-color:#f7f7f7; margin-bottom:70px}

.navbar {margin-bottom: 0px}
.top-gap {margin-top: 21px}
.alert {border-radius: 0px}
#footer {height:60px; background-color:#f5f5f5; border-top:1px solid #ddd; padding-top: 20px; position:absolute; bottom: 0; width:100%}
#footer-nav > li > a {color: #b4bcc2}

/* Public Pages */
#home > .jumbotron {margin-top:-20px}

/* Typography */
h2 a:link {color:#666}
h2 a:hover {color:#333; text-decoration: none;}
h2 a:visited {color:#B3B3B3}

/* Dashboard */
@media (max-width: 1200px) {
    .dashboard-knob-panel-body {padding:20px 0px 15px 13px}
    .knob-content {color:#999; display:inline-block; position:relative; bottom:78px; right:-81px; font-size:16px}
}
@media (min-width: 1200px) {
    .dashboard-knob-panel-body {padding:20px 0px 15px 13px}
    .knob-content {color:#999; display:inline-block; position:relative; bottom:58px; right:120px; font-size:12px}
}
/* Counter for Dashboard metrics */
.counter {border-radius: 50%; position: absolute; top: 12px; left: 35px; width: 20px; height: 20px; font-size: 11px; padding: 4px 4px 2px}

/* DataTables */
@media (max-width: 992px) {
    div.dataTables_length {display:none}
    div.dataTables_filter {display:inline-block}
    div.DTTT {display:none}
}
@media (min-width: 992px) {
    div.dataTables_length {display:inline-block}
    div.dataTables_length select {color:#b4bcc2}
    div.dataTables_filter {display:inline-block; padding-left:150px}
    div.DTTT {display:inline-block; float:right}
}
/* Info text - Showing 1 to 10 of x entries */
div.dataTables_info {color:#b4bcc2;}

/* Tabs */
.tab-content>.active {background-color: #fff; padding: 20px;}
.tab-pane {border: 1px solid #ecf0f1; border-top-color: transparent;}
.nav-tabs>li>a {background-color: #ecf0f1;}
.nav-tabs>li>a:hover {color: #333;}