.jumbotron { margin-top:-20px;}
@media screen and (min-width:768px)
{
    .jumbotron { margin-top:-20px;}
}

html { position:relative !important; min-height:100% !important;}

body { background-color:#f7f7f7 !important; margin-bottom:60px !important}

#footer{height:60px; background-color:#f5f5f5; border-top:1px solid #ddd; padding-top: 20px; position:absolute; bottom:0; width:100%}


.knob-content{color:#999; display: inline-block; position: relative; bottom: 60px; right: 125px; font-size: 12px;}

.dashboard-knob-panel-body {padding:20px 0px 15px 13px;}

@media (min-width: 992px) and (max-width: 1200px) {
    .knob-content {color: #999;display: inline-block;position: relative;bottom: 78px;right: -81px;font-size: 12px;}
}
